name: "Collect IPs"

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  schedule:
    - cron: '*/30 * * * *'
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.0'
          
      - name: Execute PHP script
        run: |
          php crawler.php
          git config --global user.email "ircfspace@gmail.com"
          git config --global user.name "IRCF"
          git config credential.helper store
          git add -A
          git commit -m "Automatic update - $(TZ='Asia/Tehran' date '+%Y-%m-%d %H:%M')"
          git push
